body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0%;
}

.nav-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 1.5% 9%;
}

.logo {
  align-self: baseline;
  width: 27%;
}

.nav-links {
  display: grid;
}

.nav-links ul li {
  display: inline-grid;
  padding: 0 4% 1.5% 4%;
}

.nav-links ul li a {
  color: #000000;
  font-size: larger;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

.nav-links ul li a:active {
  text-decoration: underline 0.25rem black;
}

.hero-section {
  background: rgba(57, 57, 57, 0.5);
  background-image: url("/resources/images/main-1680x520@2x.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  color: #f4f2ed;
  /* background-color: aqua; */
  display: grid;
  margin: 0%;
  padding: 2% 0;
  /* height: 100%; */
}

.form-section {
  display: grid;
  justify-items: center;
}

.form-section input {
  height: 1rem;
  margin: 3% 0;
  padding: 2% 5%;
  width: 20rem;
}

.form-section h3 {
  font-size: xx-large;
  margin-bottom: 1%;
}

.form-section p {
  font-size: larger;
  padding: 0% 10%;
  margin-top: 1%;
  text-align: center;
}

.submit-btn {
  background-color: #ffe01b;
  border-radius: 5rem;
  border: none;
  color: #000000;
  font-size: larger;
  font-weight: bold;
  margin-top: 4%;
  margin-left: 9%;
  height: 2.8rem;
  width: 17rem;
}

.cards-section {
  align-items: end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2%;
  justify-items: stretch;
  padding: 4% 9%;
  text-align: center;
}

.image-card img {
  width: 35%;
}

.menu-headings {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 0.5%;
}

.menu-headings h1 {
  font-size: xx-large;
}

.menu-section {
  align-items: start;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6%;
  justify-items: stretch;
  justify-content: space-evenly;
  /* line-height: 1; */
  margin-top: 0%;
  padding: 0 45%;
  /* text-align: center; */
}

.order-now-btn {
  background-color: #ffe01b;
  border-radius: 5rem;
  border: none;
  color: #000000;
  font-size: larger;
  font-weight: bold;
  margin-top: 4%;
  margin-left: 40%;
  height: 2.8rem;
  width: 17rem;
}

.meal-kit {
  /* align-items: start; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 14%;
  justify-items: stretch;
  justify-content: space-evenly;
  /* line-height: 1; */
  margin-top: 0%;
  padding: 0 45%;
  /* width: 9rem; */
  /* text-align: center; */
}

.meal-card {
  background-color: #f4f2ed;
}

.meal-card img {
  height: 16rem;
  width: 25rem;
}

.meal-card h1 {
  padding: 1% 8%;
}

.meal-card li {
  font-size: larger;
  line-height: 1.5;
}

.cfa-section {
  background: rgba(57, 57, 57, 0.5);
  background-image: url("/resources/images/market-carousel-lunch-2048x634.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  color: #f4f2ed;
  display: grid;
  margin-top: 3%;
  padding: 10% 12.5%;
}

.cfa-section h1 {
  margin-bottom: 1%;
}

.cfa-btn {
  background-color: #ffe01b;
  border-radius: 5rem;
  border: none;
  color: #000000;
  font-size: larger;
  font-weight: bold;
  margin-top: 1%;
  margin-left: 0%;
  height: 2.8rem;
  width: 17rem;
}

.customer-services {
  margin-top: 5%;
}

.customer-services h1 {
  font-size: xx-large;
  margin-left: 5%;
}

.reviews-section {
  /* align-items: start; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10%;
  justify-items: stretch;
  justify-content: space-evenly;
  /* line-height: 1; */
  margin-top: 0%;
  padding: 4% 6% 5% 6%;
  /* width: 9rem; */
  /* text-align: center; */
}

.footer-section {
  text-align: center;
}

/* Pricing Page */



@media only screen and (min-width: 915px) and (max-width: 1200px) {
  .nav-grid {
    grid-template-columns: 100%; /* Stack the columns on smaller screens */
    padding: 1.5% 5%; /* Adjust padding for smaller screens */
  }
  .hero-section {
    background-position: center; /* Center background image */
  }
  .form-section {
    padding: 0 10%; /* Adjust padding for smaller screens */
  }
  .cards-section {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Display 2 columns on smaller screens */
  }
  .menu-section {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Display 2 columns on smaller screens */
    padding: 0 10%; /* Adjust padding for smaller screens */
  }
  .meal-kit {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Display 2 columns on smaller screens */
    padding: 0 10%; /* Adjust padding for smaller screens */
  }
  .cfa-section {
    background-position: center; /* Center background image */
    padding: 6% 5%; /* Adjust padding for smaller screens */
  }
}

@media only screen and (min-width: 540px) and (max-width: 915px) {
  .nav-grid {
    grid-template-columns: 100%;
    justify-self: stretch; /* Stack the columns on smaller screens */
    padding: 1.5% 5%; /* Adjust padding for smaller screens */
  }
  .logo {
    justify-self: center;
  }
  .nav-links {
    justify-self: stretch;
  }
  .hero-section {
    background-position: center; /* Center background image */
  }
  .form-section {
    padding: 5% 15%; /* Adjust padding for smaller screens */
  }
  .cards-section {
    grid-template-columns: 1fr; /* Display 2 columns on smaller screens */
  }
  .menu-section {
    grid-template-columns: 1fr; /* Display 2 columns on smaller screens */
    padding: 0 11%; /* Adjust padding for smaller screens */
  }
  .order-now-btn {
    margin-top: 30%;
    margin-left: 30%;
  }
  .menu-headings {
    margin-top: 15%;
    padding: 0% 8%;
  }
  .meal-kit {
    grid-template-columns: 1fr; /* Display 2 columns on smaller screens */
    padding: 5% 0%;
    text-align: center; /* Adjust padding for smaller screens */
  }
  .meal-kit ul li {
    list-style: none;
  }
  .cfa-section {
    background-position: center;
    height: 16rem;
    margin-top: 30%;
    padding: 10% 5%; /* Adjust padding for smaller screens */
    text-align: center;
  }
  .cfa-btn {
    margin-left: 30%;
  }
  .customer-services {
    margin-top: 12%;
    text-align: center;
  }
  .reviews-section {
    grid-template-columns: 1fr;
    margin-bottom: 8%; /* Display 2 columns on smaller screens */
    padding: 5% 10%;
    text-align: center;
  }
}

@media only screen and (min-width: 375px) and (max-width: 540px) {
  .nav-grid {
    grid-template-columns: 100%; /* Stack the columns on smaller screens */
    padding: 1.5% 5%;
  }
  .logo {
    justify-self: center;
  }
  .nav-links {
    justify-self: stretch;
  }
  .hero-section {
    background-position: center; /* Center background image */
  }
  .form-section {
    padding: 5% 10%; /* Adjust padding for smaller screens */
  }
  .form-section input {
    width: 15rem;
  }
  .submit-btn {
    margin-left: 0%;
  }
  .cards-section {
    grid-template-columns: 1fr; /* Display 2 columns on smaller screens */
  }
  .menu-section {
    grid-template-columns: 1fr; /* Display 2 columns on smaller screens */
    padding: 0 11%;
    /* width: 375px; */
  }
  .menu-card {
    width: 100%;
  }
  .menu-card h6,
  h4,
  p {
    padding-left: 5%;
  }

  .menu-card small {
    padding-left: 10%;
    padding-right: 10%;
  }
  .order-now-btn {
    margin-top: 50%;
    margin-left: 17%;
  }
  .menu-headings {
    margin-top: 15%;
    padding: 0% 8%;
  }
  .meal-kit {
    grid-template-columns: 1fr; /* Display 2 columns on smaller screens */
    padding: 5% 0%;
    text-align: center; /* Adjust padding for smaller screens */
  }
  .meal-kit ul li {
    list-style: none;
  }
  .cfa-section {
    background-position: center; /* Center background image */
    margin-top: 30%;
    padding: 6% 5%; /* Adjust padding for smaller screens */
    text-align: center;
  }
  .cfa-btn {
    margin-left: 13%;
  }
  .customer-services {
    margin-top: 12%;
    text-align: center;
  }
  .reviews-section {
    grid-template-columns: 1fr;
    margin-bottom: 15%; /* Display 2 columns on smaller screens */
    padding: 5% 10%;
    text-align: center;
  }
}
