body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0%;
}

.nav-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 1.5% 9%;
}

.logo {
  align-self: baseline;
  width: 27%;
}

.nav-links {
  display: grid;
}

.nav-links ul li {
  display: inline-grid;
  padding: 0 4% 1.5% 4%;
}

.nav-links ul li a {
  color: #000000;
  font-size: larger;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

.nav-links ul li a:active {
  text-decoration: underline 0.25rem black;
}

.hero-section {
  background-image: url("/resources/images/main-1680x520@2x.jpg");
  background-size: cover;
  /* background-color: aqua; */
  display: grid;
  margin: 0%;
  padding: 2% 0;
  /* height: 100%; */
}

.form-section {
  display: grid;
  justify-items: center;
}

.form-section input {
  height: 1rem;
  margin: 3% 0;
  padding: 2% 5%;
  width: 20rem;
}

.form-section h3 {
  font-size: xx-large;
  margin-bottom: 1%;
}

.form-section p {
  font-size: larger;
  padding: 0% 10%;
  margin-top: 1%;
  text-align: center;
}

.submit-btn {
  background-color: #ffe01b;
  border-radius: 5rem;
  border: none;
  color: #000000;
  font-size: larger;
  font-weight: bold;
  margin-top: 4%;
  margin-left: 9%;
  height: 2.8rem;
  width: 17rem;
}

.cards-section {
  align-items: end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2%;
  justify-items: stretch;
  padding: 4% 9%;
  text-align: center;
}

.image-card img {
  width: 35%;
}

.menu-headings {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 0.5%;
}

.menu-headings h1 {
  font-size: xx-large;
}

.menu-section {
  align-items: start;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6%;
  justify-items: stretch;
  justify-content: space-evenly;
  /* line-height: 1; */
  margin-top: 0%;
  padding: 0 45%;
  /* text-align: center; */
}

.order-now-btn {
  background-color: #ffe01b;
  border-radius: 5rem;
  border: none;
  color: #000000;
  font-size: larger;
  font-weight: bold;
  margin-top: 4%;
  margin-left: 40%;
  height: 2.8rem;
  width: 17rem;
}
