body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 1.5% 9%;
}

.logo {
  align-self: baseline;
  width: 27%;
}

.nav-links {
  display: grid;
}

.nav-links ul li {
  display: inline-grid;
  padding: 0 4% 1.5% 4%;
}

.nav-links ul li a {
    color: #000000;
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.nav-links ul li a:active {
    text-decoration: underline 0.25rem black;
}